.view-enter-active, .view-leave-active {
    transition: opacity .2s ease, transform .2s ease;
    z-index: 997;
}
.view-enter, .view-leave-to {
    opacity: 0
}
.view-leave-to {
    transform: translateX(-10%);
}
.view-enter {
    transform: translateX(10%);
}

.content-enter-active, .content-leave-active {
    transition: opacity .15s;
    z-index: 997;
}
.content-enter, .view-leave-to {
    opacity: 0
}
