.container {
    @include outer-container();
    display: flex;
    flex-flow: row nowrap;
}
.content { padding: 1rem 0 1rem 3rem; flex-grow: 1 }

.sidebar { max-width: 17rem; min-width: 17rem }
.side-menu { padding-bottom: 10rem }
.locked-sidebar {
    position: fixed;
    top: 4rem;
    width: 17rem;
}

.side-link {
    color: #fff;
    font-weight: 300;
    display: block;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s ease;
}

.right { text-align: right }
.row { display: flex; flex-flow: row nowrap }
.description { flex-grow: 5; padding-top: 1rem }
.question {
    display: flex;
    align-items: center;
}
.wrapper-vertical {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 3rem;
}
.button-delimeter { text-align: center; margin: 0.5rem; font-size: 2rem }
.map { min-height: 100% }
