section {
    @include outer-container();
    background-color: #fff;
    display: flex;
    flex-flow: row nowrap;
}
main {
    padding: 1rem 3rem;
}

aside { min-width: 17rem }

h1, h2, h3 { margin: 3rem 0 1rem; text-transform: uppercase }
h1 { font-size: 3rem; font-weight: bold; margin: 3rem 0 1rem }
h2 { font-size: 2.25rem; font-weight: 600; margin: 2rem 0 1rem }
h3 { font-size: 2rem }

p {
    margin: 0 0 1rem;
    font-size: 1.6rem;
    line-height: 1.42857143;
    text-align: justify;
}
a {
    color: scale-color($blue, $lightness: 20%);
}
